
@media only screen and (min-width: 1620px) {
    .checkStatusPlacer,.navPlacer,.companiesPlacer,.hero,.aboutPlacer,.footerPlacer,.libraryPlacer,.checkoutPlacer{
        margin: 0 auto;
        width: 1220px;
        
    }
 
}


@media only screen and (max-width: 768px) {
    p{
        font-size: 14px;
    }
.authLeft{
    display: none;
}.authRight{
    width: 100%;
}

.authHeader p{
    font-size: 15px;
}
.authRightPlacer{
    width: 90%;
}
.authInputs input{
    font-family: kanit;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  color: var(--text-color);
  border: none;
  font-size: 15px;
  background: none;
}
.authInputs input::placeholder{
    color: #000000b0;
    color: var(--text-color);
    font-size: 15px;
}
.fonNavIcon{
    display: flex;
    margin-left: 0;
}
.navLinks{
    display: none ;


}
.logo{
    margin-right: 0;
}
.navPlacer{
    width: 95%;
    justify-content: space-between;

}
.fonActNav{
    display: flex;


}
.hero{
    width: 95vw;
    height: fit-content;
    margin: 0 auto 0 auto;
    padding: 10vh 0 0;
}
.topHero{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    
}
.topHero h1{
    font-size: 35px;
    font-family: kanitBold;
    color: var(--text-color);
    text-align: center;
    
}
.topHero p{
    font-size: 15px;
    width: 80%;
    margin: 10px 0;
    text-align: center;
    color: var(--text2-color);
    
 }
 .heroBtns{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    align-items: center;
}
 .bt1,.bt2{
    font-size: 15px;
    margin: 8px 0;
    width: 100%;
    padding: 12px 0;
 }
 .bt1:hover,.bt2:hover{
    width: 90%;
 }
 .heroImageWRAP{
    width: 60vw;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    border-radius: 20px;
}

.heroImageWRAP{
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    position: relative;
    border-radius: 20px;
}
.adResultPlacer{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.rankScale{
    height: 30px;
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
}
.rankscalBarP{
    background: rgb(108, 124, 143);
    width: 150px;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}


.adResults{
    position: absolute;
    z-index: 3;
    background: rgb(248, 255, 255) ;
    position: absolute;
    transform: scale(.6);
    border-radius: 10px;
    top:10%;
    box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
    z-index: 3;
    width: 200px;
    height: fit-content;
    left: -50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background:var(--text-color);
    padding: 20px 0;
    
}
.adResultPlacer h2{
    color: aliceblue;
    font-family: kanitBold;
    height: 40px;
    display: flex;
    font-size: 17px;

}
.resultDiv{
    width: 100%;
    height: fit-content;
    margin:0 0 20px 0 ;
    color: aliceblue;
}
.resultDiv p{
    font-size: 8px;
    margin: 2px 0;
}

.heroLogo{
    background: rgb(248, 255, 255) ;
    position: absolute;
    border-radius: 5px;
    top: 5%;
    box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
    z-index: 3;
    width: 100px;
    height: 50px;
    right: -10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13);
      backdrop-filter: blur( 20px );
      -webkit-backdrop-filter: blur( 4px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
  }



  .heroLogo img{
    width: 90%;
    margin-left: -40px;
}
.bottomHero{
    display: flex;
    justify-content: end;
    width: 90vw;
    height: 80vh;
    align-items: end;
    margin:  0 auto;
    height: fit-content;
    padding:7vh 0;
}
.heroImageWRAP .backImgWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    
}
.frontHeroImg{
    width: 75vw;
    z-index: 2;
    height: 60vh;
    left: 50%;
    margin: 0 auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    transform: translate(-50%);
    position: absolute;
    bottom: 0;

}


.rank{
    position: absolute;
    z-index: 3;
    background: rgb(248, 255, 255) ;
    position: absolute;  
    border-radius: 5px;
    bottom: 10%;
    box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
    z-index: 3;
    width: 150px;
    height: 50px;
    right: -10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: var(--ter-color);
 
}
.rankPlacer{
    align-items: center;
    justify-content: start;
    display: flex;
    width: 80%;
    color: aliceblue;
}
.rankPlacer .icofont-medal{
    color: aliceblue;
    margin-right: 10px;
    font-size: 25px;
}
.resultDiv{
    width: 100%;
    height: 40px;
    margin:0 0 5px 0 ;
    color: aliceblue;
}




.companies{
    height: 30vh;
    overflow: hidden;
    padding: 30px 0;
    background: var(--text-color);
    width: 100vw;
}
.companies .companiesPlacer
{
    width: 90%;
    margin: 0 auto;
    color: aliceblue;
}

.companiesPlacer img{
    width: 60px;
    aspect-ratio: 16/9;
    object-fit: contain;
    
}
.miniCompanies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.companiesPlacer h2{
    display: flex;
    margin:  0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 22px;
    text-align: center;
    font-family: kanitBold;
    height: fit-content;
}

#About{
    height: fit-content;
    padding: 30px 0;
    width: 100vw;
}
.aboutPlacer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin:  0 auto;
}

.aboutLeft{
    width: 100%;
    height:fit-content;
    padding: 0 0 30px 0;
}
.aboutLeft h2{
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    font-family: kanitBold;
    height: auto;
    margin-bottom: 2vh;
    color:var(--text-color);
}
.aboutLeft h2 span{
  
    color:var(--sec-color);
}
.aboutLeft p{
    font-size: 15px;
    text-align: center;
    width: 98%;
    color: var(--text-color);
}
.aboutRight{
    width: 100%;
    height: fit-content;
}

.aboutRightPlacer{
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,1fr);
}
.aboutCard{
    transition: .3s ease;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
}

.aboutCard:hover{
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);


}

.aboutCard h3{
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.664);
}
.aboutCard p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.466);
    margin-bottom: 6px;
}
 .aboutCardIcon{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background:rgba(68, 179, 253, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutCardIcon i{
    font-size: 40px;
    color: rgb(8, 82, 151);
}



#Grid{
    width: 100vw;
    height: 70vh;
    padding:5vh 0;
 }
 .gridplacer{
     margin: 0 auto;
     width: 95%;
     height: 100%;
 
 }
 .gridIntro{
     height: fit-content;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
 
 }
 .gridIntro h2{
     width: 80%;
     font-size: 30px;
     text-align: center;
     font-family: kanitBold;
     color:var(--text-color);
    
 }
 .gridIntro h2 span{
 
     color: var(--sec-color);
    
 }
 .gridIntro p{
     width: 100%;
     text-align: center;
     margin: 20px 0;
     font-size: 15px;
     margin: 10px 0 50px 0;

 }
 .gridWrap{
     height: 50vh;
     display: grid;
     width: 95vw;
     justify-content: center;
     border-radius: 10px;
     gap: 10px;
     grid-template-rows:  repeat(5, 1fr);
     grid-template-columns: repeat(8,1fr);
 
 }
 .grid{
     border-radius: 10px;
     overflow: hidden;
 
     transition: .3s ease;
     cursor: pointer;
 }
 .grid:hover img{
    width: 105%;
 }
 .grid img{
     width: 100%;
     height: 100%;
     transition: .3s ease;
     object-fit: cover;
 
 }
 .grid1{
     grid-area: 1 / 1 / 4 /6;
     
  
     
 }
 .grid2{
     grid-area: 3/6/1/9;
 
 }
 .grid3{
     grid-area: 4/1/6/6;
 
 }
 .grid4{
     grid-area: 1/6/6/9;
   
 }



 
#cmpnyRank{
    width:100vw ;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cmpnyRankPlacer{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmpnyRankInfo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.cmpnyCeleb img{
    width: 180px;
    bottom: -3px;
}
.cmpnyCeleb{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 50%;
    background: rgb(0, 229, 255);
    position: relative;
    background: url(../Media/Screenshot\ 2025-03-05\ 161448.png)no-repeat center/cover;
    
    
}
.cmpnyCeleb img{
    position: absolute;
    object-fit: cover;
      
}
.cmpnyRanks{
    display: flex;
    z-index: 10;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    width: 95vw;
    
}
.cmpnRank{
    width: 25%;
    height: fit-content;
    padding: 10px ;
    border-radius: 10px;
    align-items: center;
    align-items: center;
    flex-direction: column;
    color: var(--sec-color);
    display: flex;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 109, 135, 0.249);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: center;
}
.cmpnRank h4{
  text-align: center;
  font-size: 15px;
}
.circleColor1,
.circleColor2,
.circleColor3,
.circleColor4,
.circleColor5,
.circleColor6,
.circleColor7,
.circleColor8,
.circleColor9,
.circleColor10,
.circleColor11
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}
.circleColor1{
    right: 2%; 
    width: 10px;
    height: 10px;
    background:var(--ter-color);
}
.circleColor2{
    right: 10%;
    top: 10%;
    background: var(--ter2-color);
}
.circleColor3{
    right: 20%;
    bottom: 10%;
    width: 5px;
    height: 5px;
    background: var(--ter-color);
}
.circleColor4{
    left: 4%;
    background: var(--ter-color);
}
.circleColor5{
    left: 10%;
    top: 10%;
    width: 20px;
    height: 20px;
        background:var(--ter-color);
}
.circleColor6{
    left: 20%;
    bottom: 10%;
    width: 20px;
    height: 20px;
    background: var(--ter-color);
}
.circleColor7{
    left: 30%;
    top: 30%;
    width: 10px;
    height: 10px;
    background:var(--ter2-color);
}
.circleColor8{
    left: 40%;
    top: 0%;
    width: 20px;
    height: 20px;
    background: var(--ter-color);
}
.circleColor9{
    right: 40%;
    bottom: 5%;
    width: 20px;
    height: 20px;
    background:var(--ter-color);
}
.circleColor10{
    right: 40%;
    top: 15%;
    width: 10px;
    height: 10px;
    background: var(--ter-color);
}
.circleColor11{
    left: 40%;
    bottom:30%;
    width: 20px;
    height: 20px;
    background: var(--ter2-color);
}


footer{
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}


.footerPlacer{
    position: relative;
    width: 95%;
    border-radius: 20px;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--text-color),var(--text-color));
    margin:  0 auto;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    padding: 20px 0;
}
.footerminiPlacer{
    width: 90%;
    height: 70%;
    margin:  0 auto;
}
.ftmini4Cont{
    color: #4BBEFF;
}
.footerTop{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,auto);


}
.footerBtm{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footerBtm p{
    color:#4BBEFF;
    font-weight: 100;
    font-size: 10px;
}
.ftmini1{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.7);
   display: flex;
    width: 100%;
    padding: 20px 0;

}
.ftmini1 p{
    font-size: 13px;
    margin: 5px 0;
}
.ftmini1 p span{
  color: #4BBEFF;
}
.ftmini2{
    grid-area: 2/1/3/2;
    padding: 20px 0;
}

.ftmini3{
    grid-area: 3/1/4/2;
    padding: 20px 0;

}
.ftmini4{
    grid-area: 4/1/5/2;
    padding: 20px 0;

}
.ftLogo{
    width: 100%;
    margin:  0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
}

.ftLogo img{
    width: 80px;
}
.ftmini2H3{
    font-size: 18px;
    height: 15%;
    color: aliceblue;
    margin-bottom: 30px;
}
.ftmini2Cont{
    color: aliceblue;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.ftmini2Cont p{
    transition: .3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);


}
.ftmini3H3{
    font-size: 18px;
    height: 15%;
    color: aliceblue;
    margin-bottom: 30px;
    
}
.ftmini3Cont{
    color: aliceblue;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.ftmini3Cont p{
    margin-bottom: 10px;
    font-size: 14px;
    transition: .3s ease;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.ftmini3Cont p:hover{
  padding-left: 10px;
  color: aliceblue;
}
.ftmini2Cont p:hover{
    padding-left: 10px;
    color: aliceblue;
}
.ftmini4H3{
    font-size: 18px;
    height: 15%;
    color: aliceblue;
    margin-bottom: 30px;

}
.ftmini4Cont{
    color: aliceblue;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.ftmini4Cont p{
    margin-bottom: 3%;
    height: 100px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.ftmini4Search{
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.searchWrapFooter{
    width: 300px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.searchWrapFooter input{
    height: 100%;
    padding-left: 10px;
    font-family: kanit;
    color: var(--text-color);
    font-size: 13px;
    outline: none;
    
    width: 250px;
    border: none;
}
.searchWrapFooter input:focus{
    outline: none;
}
.searchWrapFooterBtn{
    width: 50px;
    height: 40px;
    cursor: pointer;
    background: #4BBEFF;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 25px;
}



#Auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.authPlacer{
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
}
.authLeft{
    width: 60%;
    display: none;
    height: 100%;
    border-radius: 10px;
    background: url(../Media/authFoto.jpg)no-repeat center/cover;

}
.authRight{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.authRightPlacer{
    width: 90%;
    height: fit-content;
    margin:  0 auto;
}
.authHeader{
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;

}
.authHeader img{
    width: 100px;
}

.authHeader p{
    font-size: 17px;
    color: var(--sec-color);
}
.logIn{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signup{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}
.authInputs{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--ter-color);
    border-radius: 5px;
    border-radius: 50px;

}
.authInputs input{
    font-family: kanit;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  color: var(--text-color);
  border: none;
  font-size: 13px;
  background: none;
}
.authInputs input::placeholder{
    color: #000000b0;
    color: var(--text-color);
    font-size: 13px;
}
.authInputs input:focus{
    outline: none;
}

.authLogo{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.authLogo h2{
    font-size: 30px;
    font-weight: 100;
    color: var(--sec-color);
    font-family: kanitbold;

}
.authHeader p{
    text-align: center;
    display: flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.authBtn{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authBtnLoder{
    display: none;
}
.authBtn button{
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background: var(--sec-color);
    color: aliceblue;
    font-size: 15px;
    transition: .3s ease;
    font-family: kanit;
    cursor: pointer;
    border: none;
    background: linear-gradient(-20deg, var(--sec-color),var(--ter-color));
    
}
.authBtn button:hover{
  transform: scale(.98);
}
.authOptions{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.authOptions p{
    font-size: 12px;
}
.authOptions p span{
    color: var(--sec-color);
    cursor: pointer;
}
.authGoogle{
    height: 100px;
    width: 100%;
}
.gglIntro{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}
.or{
    margin: 0 20px;
}
.gglIntro span{
    width: 40%;
    height: 2px;
    background: rgba(0, 0, 0, 0.315);
}
.gglBtn{
    height: 50px;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--ter-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    color: var(--text-color);
    justify-content: center;

}
.gglBtn img{
    width: 50px;
    margin: 0 10px;
}

.checkoutPlacer{
    width: 90%;
    height: 95%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(6,1fr);
}

.checkTopic{
    grid-area: 1/1/2/2;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.checkAmount{

    grid-area: 1/1/2/2;
    display: flex;


}
.checkTopicstats{
    display: none;
}
.checkPrice{
    grid-area: 2/1/7/2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
   
}
.checkTopicWrap{
    width: 90%;
    height: 85%;

}


.creditCard{
    width: 100%;
    height: 35%;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--ter-color));


}
.payDetails{
    width: 100%;
    height: 61%;
    border: 1px solid rgba(0, 0, 0, 0.155);
    border-radius: 10px;
}
.cardAmount{
    display: flex;
    font-size: 25px;
    bottom: 10%;

}
.dummyCardNo{
    bottom: 15%;
    font-size: 10px;
    right: 5%;
}
.tandBtn p{
    text-align: center;
    width: 60%;
    font-size: 12px;
    margin: 10px auto;
    color: rgba(128, 128, 128, 0.63);
    align-items: center;
    display: none;
    justify-content: center;
}
.cardLogoWifi{
    width: 200px;
    height: 50px;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 10%;
}
.cardLogoWifi img{
    width: 80px;
}
.cardLogoWifi i{
    font-size: 20px;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.671);
}
.chip{
    width: 40px;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;
}
.tandBtn button{
    width: 100%;
    height: 40px;
    background: none;
    font-size: 14px;
    border: none;
    color: aliceblue;
    font-family: kanit;
    background: linear-gradient(20deg, var(--sec-color),var(--ter-color));
    border-radius: 40px;
    cursor: pointer;
    transition: .3s ease;

}
.libraryPlacer{
    padding-top: 10vh;
    width: 95vw;
    height: 89vh;
    margin:  0 auto;
    overflow: hidden;
    display:grid;
    gap: 15px;

    grid-template-columns: repeat(auto-fill, 100%);
    grid-row: repeat(6,1fr);
}
.libLeftTop{
    grid-area: 1/1/3/1;
    border-radius: 10px;
    padding: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}
.libLeftBtm{
    display: none;
    grid-area: 3/1/7/1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);

}
.libRight{
    grid-area: 1/1/7/2;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    background: rgb(255, 255, 255);
}
.libRightTopPlacer p{
    display: none;
}

    .libSearchBtn{
        width: 20%;
        height: 100%;
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 5px;
    }
    .libRightTop img{
        position: absolute;
        right:100px ;
        z-index: 0;
        transform: rotate(-25deg);
        width: 300px;
        opacity: .2;
    }
    .libRightTop{
        height: 30%;
        background: var(--sec-color);
        border-radius: 10px 10px 20px 20px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--sec-color),var(--sec-color));
    
    }
    .libRightTopPlacer{
        width: 95%;
        margin:  0 auto;
        height: 80%;
        z-index: 1;
        position: absolute;
        left: 50%;
        overflow: hidden;
        transform: translate(-50%);
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
    .libRightTopPlacer h2{
        font-size: 1.8rem;
    }
    .libRightTopPlacer p{
        font-size: 1rem;
        width: 80%;
        color: rgb(202, 202, 202);
    }
    .libSearchWrap{
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        background: aliceblue;
        width: 100%;
        border-radius: 50px;
        height: 40px;
    }
    .libSearchInput{
        display: flex;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .libSearchInput .seachIcon{
        width: 30px;
        height: 30px;
        display: none;
        justify-content: center;
        color: grey;
        font-size: 1rem;
        align-items: center;
    }
    .libSearchInput input{
        width:100%;
        padding:0 10px;
        background: none;
        height: 100%;
        font-family: kanit;
        border: none;
        font-size: 1rem;
        color: var(--text-color);
    
    }
    .libSearchBtn{
        width: 20%;
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 5px;
    }
    .libSearchBtn p{
        padding: 0 10px;
        background: var(--text-color);
        /* background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--sec-color),var(--sec-color)); */
    
        height: 35px;
        color: aliceblue;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        font-size: .8rem;
        border-radius: 40px;
    
    }
    .libRightBottom{
        position: relative;
        height: 70%;
        overflow: hidden;
        width: 100%;
        
    }
    .libRightBottomWrap{
        height: 95%;
        left: 50%;
        top: 50%;
        overflow-x: hidden;
        overflow-y:auto ;
        transform: translate(-50%,-50%);
        overflow-y: scroll;
        width: 95%;
        overflow-x: hidden;
        position: absolute;
    }


    .sampleTopic{
        height: fit-content;
        padding: 10px;
        background:rgb(237, 242, 248);
        margin-bottom: 10px;
        
        border-radius: 10px;
    }
    .sampPleTopicWrapper{
        width: 100%;
        height: fit-content;
    }
    .smpTopicTop{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .smpTopicTopLeft{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 90%;
    }
    .smpTopicTopLeftIcon{
        width: 50px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;
        color: var(--ter2-color);
        background: rgba(231, 75, 205, 0.144);
    }
    .smpTopicTopLeftTopicName{
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .smpTopicTopLeftTopicName h4{
        font-size: 1.1rem;
        color: var(--text-color);
    }
    .smpTopicTopRight{
     width: 10%;
     height: 100%;
     display: flex;
     justify-content: end;
     align-items: center;
    }
    
    .smpTopicTopRightIcon{
        border-radius: 7px;
        width: 50px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 125, 203);
        background: rgba(43, 230, 255, 0.207);
    }
    .smpTopicMid{
        height: fit-content;
        width: 90%;
        color: rgb(49, 49, 49);
        font-size: .9rem;
    }
    .smpTopicBtm{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: grey;
    
        align-items: center;
    }
    .smpTopicBtm button{
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        background: var(--sec-color);
        color: var(--text-color);
        color: aliceblue;
        font-family: kanit;
        font-size: .9rem;
        border-radius: 20px;
    }
    .smpTopicBtm p span{
        color: rgb(0, 122, 179);
    }
    .smpTopicBtm p{
        font-size: .9rem;
    
    }

    #Affiliated{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--text-color),var(--text-color));
    
    }
    .affPlacer{
        width: 95vw;
        padding: 0;


    }
    .affInputWrap{
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        background:aliceblue;
        border-radius: 50px;
        border: 1px solid var(--sec-color);
        overflow: hidden;
    }


    .affCont{
        height: 25vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: kanit;
        color: var(--text-color);
    }
    .checkStatusPlacer{
        width: 95vw;
        
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        height: fit-content;
        display: flex;
        justify-items: center;
        overflow: hidden;
        transition: .5s ease;
        align-items: center;
        background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--sec-color));
    
    }
    .Step{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 5vh 0;
        background: var(--text-color);
        
    }
    .stepPlacer{
        width: 95%;
        margin: 0 auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;

      }
    
.stepTop{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: start !important;
    height: 15% !important;
    width: 100%;

}
    .stepBtm{
        height: 85%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
    
    }
    .stepCards{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }
    .stepTop{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 20px;
    
    }
    .stepTop p{
        color: var(--ter3-color);
        display: flex;
        font-size: 10px;
    }
    .stepTop h2{
        font-size: 20px;
        font-family: kanitBold;
    }
    .stepCard{
        border-radius: 10px;
        display: flex;
        width: 100%;
        height: 30vh;
        border-radius: 8px;
        background: #022c3c;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    #Mission{
        width: 100vw;
        height: fit-content;
        padding: 5vh 0;
    }
    .missionPlacer{
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sectionGenintro{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 30px;
        align-items: center;
    }
    .secGenIntroPT{
        color: var(--sec-color);
    }
    .sectionGenintro h2{
        font-family: kanitBold;
        font-size: 1.8rem;
        color: var(--text-color);
    }
    .secGenIntroPD{
        width: 90%;
        color: rgb(56, 56, 56);
        text-align: center;
      }
      .missionCont{
        width: 100%;
        height: fit-content;
        }
    .missionSums{
        width: 95%;
        margin: 0 auto;
        display: flex;
        height: 150px;
        justify-content: center;
        align-items: center;
    }

    .msmSum{
        width: 160px;
        height: 90px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .missionCardPlacer{
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        color: aliceblue;
        height: 70%;
    }
    .missionActCard{
        height: 180px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .missionCardPlacer h3{
        font-size: 1.3rem;
    }


    .testpagePlacer{
        width: 100%;
        margin:  0 auto;
        height: 100%;        
    }

    .testNavPlacer{
        height: 6vh;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        width: 95%;
        background: aliceblue;
        border-radius: 50px;
        background: var(--text-color);
        color: aliceblue;
        align-items: center;
        justify-content: space-between;
    }
    .testTitle{
        height: 100%;
        width: 70%;
        font-size: 16px;
        display: flex;
        margin-left: 2%;
        justify-content: start;
        align-items: center;
    }

    .deQuizes{
        height: 80vh;
        width: 100%;
    
        transition: transform 0.3s ease-in-out;
    
    
    }
    .testChoices span{
        width: 8px;
        height: 8px;
        background: var(--ter2-color);
        border-radius: 50%;
        margin-right: 5px;
    }
    .testChoices p{
        width: calc(100% - 15px);
    }
    .resultWrapper{
        width: 90vw;
        border-radius: 20px;
        height: 85vh;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--sec-color));
    
    }
}

