*{
    margin:0;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

:root{
    --pri-color:#EAEFF0;
    --pri2-color:#ffffff;
    --sec-color:#11499E;
    --sec2-color:#2c2c2c;
    --text-color:#001F2B;
    --text2-color:rgb(49,49,49);
    --ter-color:#1dabec94;
    --ter3-color:#4BBEFF;
    --ter2-color:rgb(231, 75, 205);
}
@font-face {
    font-family: kanit;
    src: url(../Media/Kanit/Kanit-Light.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(../Media/bebas/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: kanitBold;
    src: url(../Media/Kanit/Kanit-Bold.ttf);
}
input:focus{
    outline: none;
}
input{
    padding:0 15px ;
    font-family: Kanit;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1dabec94; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-color); 
  }


  .swal2-confirm{
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 12px;
    font-family: Kanit;

    background: linear-gradient(-20deg, var(--sec-color),var(--ter-color));

}
.swal2-confirm:hover{
    background: linear-gradient(-20deg, var(--sec-color),var(--ter-color));

}
.swal2-cancel{
    border-radius: 20px;
    padding: 10px 30px;
    font-family: Kanit;

    font-size: 12px;
    background: linear-gradient(-20deg, var(--text-color),var(--text-color));

}
.swal2-title{
    font-size: 18px;
    font-weight: 400;
}


body{
    background: var(--pri2-color);
    background: aliceblue;
    width: 100vw;
    overflow-x: hidden;
    font-family: kanit;
}
#preloader{
    position: fixed;
    z-index: 30;
    background:#ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#actPreLoader{
    transform: scale(.4);

    
}


nav{
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 15;

}
.navPlacer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo{
    width: 7vh;
    height: 7vh;
    background: var(--pri-color);
    background: var(--text-color);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    align-items: center;
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.navLinks{
    display: flex;
    min-width: 30vw;
    background: var(--text-color);
    height: 7vh;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.fonNavIcon{
    width: 7vh;
    height: 7vh;
    background: var(--text-color);
    display: none;
    justify-content: center;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.logo img {
    width: 20px;
}
.navLinks div{
    margin: 0 20px;
    font-size:15px;
    padding: 10px 20px;
    cursor: pointer;
    color: aliceblue;

}
.navLinks div:hover {
    cursor: pointer;
}
.navAuth{
    background: var(--ter2-color);
  
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}
.hero{
    width: 80vw;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 10vh 0 0;
}
.topHero{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.topHero h1{
    font-size: 60px;
    font-family: kanitBold;
    color: var(--text-color);
    text-align: center;
    
}
.topHero h1 span{
    color: var(--sec-color);
}
.topHero p{
   font-size: 17px;
   color: var(--text2-color);
   margin: 30px 0;
   text-align: center;
   
}

.heroBtns{
    width: 50%;
    display: flex;
    transition: .3s ease;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.bt1{
    background: var(--text-color);
    font-family: kanit;
    color: aliceblue;
    border-radius: 40px;
    border: none;
    padding: 10px 30px;
    font-size: 17px;
    transition: .3s ease-in-out;
    margin: 0 10px;
}



.bt2{
    cursor: pointer;
    padding: 10px 30px;
    background: transparent;
    transition: .3s ease-in-out;
    font-family: kanit;
    border-radius: 40px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 17px;
    margin: 0 10px;
}

.heroImageWRAP{
    width: 60vw;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.backHeroImg{
    width: 100%;
    filter: grayscale(.8);
    filter: blur(2px);
    height: 70vh;
    position: absolute;

    z-index: 1;
    border-radius: 20px;
    object-fit: cover;

}
.frontHeroImg{
    width: auto;
    z-index: 2;
    height: 80vh;
    left: 50%;
    margin: 0 auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    transform: translate(-50%);
    position: absolute;
    bottom: 0;

}
.bottomHero{
    display: flex;
    justify-content: end;
    align-items: end;
    height: fit-content;
    padding:5vh;
}
.heroImageWRAP .backImgWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    
}
.heroLogo{
  background: rgb(248, 255, 255) ;
  position: absolute;
  border-radius: 20px;
  top: 5%;
  box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
  z-index: 3;
  width: 300px;
  height: 120px;
  right: -150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.heroLogo img{
    width: 90%;
    margin-left: -70px;
}

.rank{
    position: absolute;
    z-index: 3;
    background: rgb(248, 255, 255) ;
    position: absolute;
    
    border-radius: 10px;
    bottom: 10%;
    box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
    z-index: 3;
    width: 300px;
    height: 100px;
    right: -100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: var(--ter-color);
 
}
.rankPlacer{
    align-items: center;
    justify-content: start;
    display: flex;
    width: 80%;
    color: aliceblue;
}
.rankPlacer .icofont-medal{
    color: aliceblue;
    margin-right: 10px;
    font-size: 40px;
}
.adResults{
    position: absolute;
    z-index: 3;
    background: rgb(248, 255, 255) ;
    position: absolute;
    border-radius: 10px;
    top: 15%;
    box-shadow: 0 0 10px rgba(31, 61, 63, 0.096);
    z-index: 3;
    width: 400px;
    height: fit-content;
    left: -200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background:var(--text-color);
    padding: 20px 0;
    
}
.adResultPlacer{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.adResultPlacer h2{
    color: aliceblue;
    font-family: kanitBold;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultDiv{
    width: 100%;
    height: 60px;
    margin:0 0 20px 0 ;
    color: aliceblue;
}


.resultDiv p{
    margin: 2px 0;
}
.rankScale{
    height: 30px;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}
.rankscalBarP{
    background: rgb(108, 124, 143);
    width: 290PX;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.rankStar{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rankScalBarC{
    width: 50%;
    height: 100%;
    background: var(--ter2-color);
    border-radius: 10px;
}
.rankScalBarC1{
    width: 90%;
    height: 100%;
    background: var(--ter2-color);
    border-radius: 10px;
}
.rankScalBarC2{
    width: 65%;
    height: 100%;
    background: var(--ter2-color);
    border-radius: 10px;
}
.rankScalBarC3{
    width: 98%;
    height: 100%;
    background: var(--ter2-color);
    border-radius: 10px;
}
.rankScalBarC4{
    width: 78%;
    height: 100%;
    background: var(--ter2-color);
    border-radius: 10px;
}

.companies{
    height: 40vh;
    overflow: hidden;
    padding: 30px 0;
    background: var(--text-color);
    width: 100vw;
}
.companies .companiesPlacer
{
    width: 80%;
    margin: 0 auto;
    color: aliceblue;
}

.companiesPlacer img{
    width: 150px;
    aspect-ratio: 16/9;
    object-fit: contain;
    
}
.miniCompanies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.companiesPlacer h2{
    display: flex;
    margin:  0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 50px;
    text-align: center;
    font-family: kanitBold;
    height: 20vh;
}
#About{
    height: fit-content;
    padding: 5vh 0;
    width: 100vw;
}
.aboutPlacer{
    width: 80%;
    height: 100%;
    display: flex;
    
    margin:  0 auto;
}

.aboutLeft{
    width: 50%;
    height: 100%;
}
.aboutLeft h2{
    width: 90%;
    font-size: 50px;
    text-align: start;
    font-family: kanitBold;
    color:var(--text-color);
    margin: 0 0 30px 0;
}
.aboutLeft h2 span{
  
    color:var(--sec-color);
}
.aboutLeft p{
    font-size: 17px;
    width: 98%;
    color: var(--text2-color);
}
.aboutRight{
    width: 50%;
    height: 100%;
}

.aboutRightPlacer{
    width: 90%;
    margin: 0 auto;
    gap: 15px;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.aboutCard{
    transition: .3s ease;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
}

.aboutCard:hover{
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);


}

.aboutCard h3{
    margin: 20px 0;
    color: var(--text-color);
}
.aboutCard p{
    font-size: 15px;
    color: var(--text2-color);
    margin-bottom: 6px;
}
 .aboutCardIcon{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background:rgba(68, 179, 253, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutCardIcon i{
    font-size: 40px;
    color: rgb(8, 82, 151);
}

#Grid{
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5vh 0;
}
.gridplacer{
    margin: 0 auto;
    width: 80%;
    height: 100%;

}
.gridIntro{
    height: fit-content;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.gridIntro h2{
    width: 80%;
    font-size: 50px;
    text-align: center;
    font-family: kanitBold;
    color:var(--text-color);
   
}
.gridIntro h2 span{

    color: var(--sec-color);
   
}
.gridIntro p{
    margin: 10px 0 50px 0;
    width: 50%;
    text-align: center;
    color: var(--text2-color);
    font-size: 17px;
}
.gridWrap{
    height:80vh;
    display: grid;
    width: 80vw;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    grid-template-rows:  repeat(5, 1fr);
    grid-template-columns: repeat(8,1fr);

}
.grid{
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease;
    cursor: pointer;
}
.grid:hover img{
   width: 105%;
}
.grid img{
    width: 100%;
    height: 100%;
    transition: .3s ease;
    object-fit: cover;

}
.grid1{
    grid-area: 1 / 1 / 4 /6;
    
 
    
}
.grid2{
    grid-area: 3/6/1/9;

}
.grid3{
    grid-area: 4/1/6/6;

}
.grid4{
    grid-area: 1/6/6/9;
  
}

#cmpnyRank{
    width:100vw ;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cmpnyRankPlacer{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmpnyRankInfo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.cmpnyCeleb img{
    width: 180px;
    bottom: -3px;
}
.cmpnyCeleb{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 50%;
    background: rgb(0, 229, 255);
    position: relative;
    background: url(../Media/pexels-olly-3769021.jpg)no-repeat center/cover;
    
    
}
.cmpnyCeleb img{
    position: absolute;
    object-fit: cover;
      
}
.cmpnyRanks{
    display: flex;
    z-index: 10;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    width: 500px;
}
.cmpnRank{
    width: 100px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    color: var(--sec-color);
    display: flex;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 109, 135, 0.249);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: center;
}
.circleColor1,
.circleColor2,
.circleColor3,
.circleColor4,
.circleColor5,
.circleColor6,
.circleColor7,
.circleColor8,
.circleColor9,
.circleColor10,
.circleColor11
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}
.circleColor1{
    right: 2%; 
    width: 20px;
    height: 20px;
    background:var(--ter-color);
}
.circleColor2{
    right: 10%;
    top: 10%;
    background: var(--ter2-color);
}
.circleColor3{
    right: 20%;
    bottom: 10%;
    width: 10px;
    height: 10px;
    background: var(--ter-color);
}
.circleColor4{
    left: 4%;
    background: var(--ter-color);
}
.circleColor5{
    left: 10%;
    top: 10%;
    width: 30px;
    height: 30px;
        background:var(--ter-color);
}
.circleColor6{
    left: 20%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    background: var(--ter-color);
}
.circleColor7{
    left: 30%;
    top: 30%;
    width: 10px;
    height: 10px;
    background:var(--ter2-color);
}
.circleColor8{
    left: 40%;
    top: 0%;
    width: 30px;
    height: 30px;
    background: var(--ter-color);
}
.circleColor9{
    right: 40%;
    bottom: 5%;
    width: 30px;
    height: 30px;
    background:var(--ter-color);
}
.circleColor10{
    right: 40%;
    top: 15%;
    width: 10px;
    height: 10px;
    background: var(--ter-color);
}
.circleColor11{
    left: 40%;
    bottom:30%;
    width: 20px;
    height: 20px;
    background: var(--ter2-color);
}

footer{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cntLines{
    position: absolute;
    width: 400px;
    rotate: -50deg;
    right: -100px;
    bottom: -50px;
}

.footerPlacer{
    position: relative;
    width: 90%;
    border-radius: 20px;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--text-color),var(--text-color));
    margin:  0 auto;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerminiPlacer{
    width: 90%;
    height: 90%;
    margin:  0 auto;
}
.ftmini4Cont{
    color: #4BBEFF;
}
.footerTop{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,100%);


}
.footerBtm{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footerBtm p{
    color:#4BBEFF;
    font-weight: 100;
    font-size: 13px;
}
.ftmini1{
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    width: 80%;
    align-items: start;
    justify-content: space-between;
}
.ftmini1Cont{
    height: 60%;

}
.ftmini1Cont p{
  margin-bottom: 15px;
}
.ftmini1Loc{
    height: 30%;
}
.ftmini1 p span{
  color: #4BBEFF;
}
.ftmini2{
    grid-area: 1/4/2/5;
}

.ftmini3{
    grid-area: 1/5/2/6;
}
.ftmini4{
    grid-area: 1/6/2/9;
}
.ftLogo{
    width: 100%;
    height: 30%;
}

.ftLogo img{
    width: 120px;
}
.ftmini2H3{
    font-size: 20px;
    height: 20%;
    color: aliceblue;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.ftmini2Cont{
    color: aliceblue;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.ftmini2Cont p{
    transition: .3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);


}
.ftmini3H3{
    font-size: 20px;
    height: 20%;
    color: aliceblue;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.ftmini3Cont{
    color: aliceblue;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.ftmini3Cont p{
    margin-bottom: 10px;
    font-size: 14px;
    transition: .3s ease;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
.ftmini3Cont p:hover{
  padding-left: 10px;
  color: aliceblue;
}
.ftmini2Cont p:hover{
    padding-left: 10px;
    color: aliceblue;
}
.ftmini4H3{
    font-size: 20px;
    height: 20%;
    color: aliceblue;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}
.ftmini4Cont{
    color: aliceblue;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.ftmini4Cont p{
    margin-bottom: 10px;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.5);
}
.ftmini4Search{
    height: 60%;
}
.searchWrapFooter{
    width: 300px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.searchWrapFooter input{
    height: 100%;
    padding-left: 10px;
    font-family: kanit;
    color: var(--text-color);
    font-size: 13px;
    outline: none;
    width: 250px;
    border: none;
}
.searchWrapFooter input:focus{
    outline: none;
}
.searchWrapFooterBtn{
    width: 50px;
    height: 40px;
    cursor: pointer;
    background: #4BBEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 25px;
}


#Auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.authPlacer{
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
}
.authLeft{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background: url(../Media/authFoto.jpg)no-repeat center/cover;

}
.authRight{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.authRightPlacer{
    width: 80%;
    height: fit-content;
    margin:  0 auto;
}
.authHeader{
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;

}
.authHeader img{
    width: 100px;
}

.authHeader p{
    font-size: 17px;
    color: var(--sec-color);
}
.logIn{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signup{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}
.authInputs{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--ter-color);
    border-radius: 5px;
    border-radius: 50px;

}
.authInputs input{
    font-family: kanit;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  color: var(--text-color);
  border: none;
  font-size: 17px;
  background: none;
}
.authInputs input::placeholder{
    color: #000000b0;
    color: var(--text-color);
    font-size: 17px;
}
.authInputs input:focus{
    outline: none;
}

.authLogo{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.authLogo h2{
    font-size: 30px;
    font-weight: 100;
    color: var(--sec-color);
    font-family: kanitbold;

}
.authHeader p{
    text-align: center;
    display: flex;
    font-size: 17px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.authBtn{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authBtnLoder{
    display: none;
}
.authBtn button{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background: var(--sec-color);
    color: aliceblue;
    font-size: 15px;
    transition: .3s ease;
    font-family: kanit;
    cursor: pointer;
    border: none;
    background: linear-gradient(-20deg, var(--sec-color),var(--ter-color));
    
}
.authBtn button:hover{
  transform: scale(.98);
}
.authOptions{
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.authOptions p span{
    color: var(--sec-color);
    cursor: pointer;
}
.authGoogle{
    height: 100px;
    width: 100%;
}
.gglIntro{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}
.or{
    margin: 0 20px;
}
.gglIntro span{
    width: 40%;
    height: 2px;
    background: rgba(0, 0, 0, 0.315);
}
.gglBtn{
    height: 40px;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--ter-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    color: var(--text-color);
    justify-content: center;

}
.gglBtn img{
    width: 70px;
    margin: 0 10px;
}


#Checkout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(229, 234, 236);
}
.checkoutPlacer{
    width: 60%;
    height: 88%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.checkTopic{
    grid-column: 1/1/2/2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: aliceblue;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.checkAmount{
    grid-area: 2/1/3/2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

}
.checkPrice{
    grid-area: 1/2/3/4;
    display: flex;
    justify-content: center;
    background: aliceblue;

    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
   
}
.checkTopicWrap{
    width:85%;
    height: 85%;

}
.checkTopicWrap p{
    color: rgb(108, 124, 143);
    font-size: 15px;

}
.checkTopicWrap .boxTitle{
    color: var(--sec-color);
    font-size: 16px;
}
.checkTopicWrap h3{
    font-size: 20px;
    color: var(--text-color);
}
.checkTopic p{
    font-size: 15px;
    color: rgb(108, 124, 143);

}
.checkCardSeparator{
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.171);
}
.checkTopicstat{
    display: flex;
    height: 30px;
    justify-content: start;
    align-items: center;

}
.checkTopicstat p{
    font-size: 15px;
}
.checkTopicstat i{
    margin-right: 10px;
    color: var(--sec-color);
}
.checkPricePlacer{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.creditCard{
    width: 100%;
    height: 40%;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);

    border-radius: 10px;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--ter-color));


}
.cardAmount{
    position: absolute;
    left: 5%;
    bottom: 15%;
    color: var(--sec-color);
    font-size: 40px;
    color: a;
    font-family: kanitBold;
    display: none;
    z-index: 3;
    
}
.hdnLogo{
    position: absolute;
    opacity: .35;
    bottom: -10px;
    transform: rotate(15deg);
    width: 250px;
}
.cardLogoWifi{
    width: 200px;
    height: 50px;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}
.cardLogoWifi img{
    width: 120px;
}
.cardLogoWifi i{
    font-size: 30px;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.671);
}
.chip{
    width: 60px;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;
}
.currency{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 5% 0;
}
.fidiCurrency{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;    
    align-items: center;
    width: 50%;
}

.selectedCurrency{
    background: rgba(0, 0, 0, 0.082);
    padding:3px 10px;
    cursor: pointer;
    border-radius: 5px;


}
.sltCr{
    color: rgb(64, 230, 64);
    background: rgba(0, 0, 0, 0.959);

}
.payDetails{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.155);
    border-radius: 10px;
}
.payDet{
    width: 95%;
    margin: 5px auto 0 auto;
  height: 25%;
    
}
.payDet p{
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: stretch;
}
.payDetInput{
    height: 70%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.payDetInputWrap{
    width: 90%;
    display: flex;
    height: 100%;
}
.cardNumberInput{
    width: 60%;
}
.payDetInputWrap input{
    border: none;
    font-family: kanit;
    background: none;
    width: 90% ;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100%;
    font-size: 18px;
    padding-left: 10px;
}
.payDetInput input::placeholder{
   color: grey;
   font-size: 15px;
}
.payDetInput{
    border-top:none ;
    border-bottom:1px solid rgba(0, 0, 0, 0.155);
}
.payDetIcon{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.payDetIcon i{
  font-size: 25px;
  color: var(--sec-color);
}
.tandBtn{
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 30%;
    margin:  0px auto 0 auto;

}
.tandBtn p{
    text-align: center;
    width: 60%;
    font-size: 10px;
    margin: 5px auto;
    color: rgba(128, 128, 128, 0.63);
    align-items: center;
    display: flex;
    justify-content: center;
}
.tandBtn button{
    width: 100%;
    height: 45px;
    background: none;
    font-size: 16px;
    border: none;
    color: aliceblue;
    font-family: kanit;
    background: linear-gradient(20deg, var(--sec-color),var(--ter-color));
    border-radius: 40px;
    cursor: pointer;
    transition: .3s ease;

}
.tandBtn button:hover{
  transform: scale(.95);

}
.dummyCardNo{
    color: aliceblue;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: 1;
    font-size: 22px;
    font-weight: 4300;
}
#TestPage{
  width: 100vw;
  height: 100vh;
  
}
.testpagePlacer{
    width: 90%;
    margin:  0 auto;
    height: 100%;
    
}
.testNav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testNavPlacer{
    height: 8vh;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 90%;
    background: aliceblue;
    border-radius: 50px;
    background: var(--text-color);
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
}
.testTitle{
    height: 100%;
    width: 70%;
    font-size: 20px;
    display: flex;
    margin-left: 2%;
    justify-content: start;
    align-items: center;
}
.testClock{
    display: flex;
    height: 70%;
    border-radius: 40px;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    background: var(--ter2-color);

}
.testClock p{
    margin-right: 10px;
    color: aliceblue;
    font-size: 16px;
}
.testClock i{
    color: aliceblue;
    font-size: 20px;
}
.testWrapper{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /* overflow: hidden; */

}
.deQuizes{
    height: 80vh;

    transition: transform 0.3s ease-in-out;


}
.deQuiz{
    width: 95%;
    margin: 0 auto;
    height: 100%;

}
.testWrap{
    width: 100%;
    padding: 10px 0;
    height: 80vh;

    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

    overflow: hidden;

}
.testWrap p{
 font-size: 20px;
 color: var(--text-color);
}
.testQuestion{
    padding: 0px 0 0 10px;
    height: fit-content;
}
.testChoicesWrap{
    height: 60vh;
}
.testChoices{
    margin-top: 20px ;
    height:  auto;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    min-height: 60px;
    cursor: pointer;
    width: 95%;
    border-radius: 40px;
    margin:  10px auto 0 auto;
    transition: .3s ease;
}
.testChoices span{
    width: 8px;
    height: 8px;
    background: var(--ter2-color);
    border-radius: 50%;
    margin-right: 10px;
}

.sltChoiceUser{
    background: var(--ter-color);

}
.testChoices p{
    font-size: 16px;
}
.testNxtBtn{
  width: 100%;
  height:15%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.testNxtBtn button{
    width: 150px;
    height: 45px;
    border: none;
    background: var(--text-color);
    color: aliceblue;
    border-radius: 30px;
    transition: .3s ease;
    cursor: pointer;
    font-family: Kanit;
    font-size: 16px;
}
.testNxtBtn button:hover{
  transform: scale(.95);
}
.deQ1{
    top: 0;
}
.deQ2{
    top:80vh;
}
.deQ3{
    top:160vh;
}
.deQ4{
    top:240vh;
}
.quizInfo{
    transform: scale(.0001);
    position: absolute;
}


.fonActNav{
    position: fixed;
    display: none;
    z-index: 25;
    background: aliceblue;
    width: 100vw;
    height: 100vh;
    left: -102%;
    justify-content: center;
    transition: .3s ease-in-out;
    align-items: center;
}
.fonActNavPlacer{
    width: 80%;
    margin:  0 auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fonActNavPlacer div{
    margin: 0 0 30px 0;
    color: var(--text-color);
}
.fonActNavPlacer div p{
    font-size: 17px;

}
.fonNavCancel{
    width: 60px;
    border-radius: 50%;
    color: var(--ter3-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
}
.fonNavCancel i{
    color: var(--ter3-color);
    font-size: 30px;
}
.Library{
    width: 100vw;
    background: rgb(255, 255, 255);

    height: 100vh;
}

.libraryPlacer{
    padding-top: 10vh;
    width: 90vw;
    height: 89vh;
    margin:  0 auto;
    display:grid;
    gap: 15px;

    grid-column: repeat(7,1fr);
    grid-row: repeat(6,1fr);
}
.libLeftTop{
    grid-area: 1/1/2/1;
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}
.libLeftBtm{
    grid-area: 2/1/7/1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);

}
.libRight{
    grid-area: 1/2/7/7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    background: rgb(255, 255, 255);
}

.libLeftTopWraper{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    align-items: center;
    flex-direction: column;
}
.libLeftBtmWraper{
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;
    justify-content: start;
    margin:  0 auto;
    align-items: start;
    flex-direction: column;
}
.libLeftWraperImg{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--ter-color);
    margin-bottom: 5px;
}
.libLeftTopWraper img{
    width: 80px;
    height: 80px;
    object-fit: cover;
 
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.libLeftTopWraper p{
    margin: 1px 0;
    font-size: .8rem;
    color: grey;
}
.libLeftTopWraper button{
    width: 60%;
    height: 30px;
    
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 40px;
    transition: .3s ease;
    font-family: kanit;
    background: linear-gradient(20deg, var(--sec-color),var(--ter-color));
    color: aliceblue;

}
.libLeftTopWraper button:hover{
  transform: scale(.95);
}

.libLeftBtmWraper h3{
  height: 8%;
  display: flex;
  justify-content: start;
  font-size: 1.4rem;
  align-items: center;
  width: 100%;
}
.hseparator{
    width: 100%;
    height: 1px ;
    background: gray;
    margin: 10px 0;
    border-radius: 5px;
    margin: 10px auto;
}
.recentTestWrap{
    height: 85%;
    padding: 10px 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.recentTest{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:95%;
    padding: 5px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.105);
    height: 80px;
}
.rTestInfo{

    height: 100%;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.prfRating{
    padding: 3px 10px;
    border-radius: 6px;
    margin: 6px 0;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ePerfom{
    color: green;
    background: rgba(43, 255, 43, 0.207);
}
.aPerfom{
    color: rgb(0, 125, 203);
    background: rgba(43, 230, 255, 0.207);
}
.pPerfom{
    color: rgb(203, 0, 0);
    background: rgba(255, 43, 43, 0.089);
}
.recentTestScore{
    height: 100%;
    width: 20%;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}
.recentTestScore{
   font-size: 1rem;
}


.libRightTop{
    height: 35%;
    background: var(--sec-color);
    border-radius: 10px 10px 20px 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--sec-color),var(--sec-color));

}
.libRightTop img{
    position: absolute;
    right:100px ;
    z-index: 0;
    transform: rotate(-25deg);
    width: 300px;
    opacity: .2;
}
.libRightTopPlacer{
    width: 95%;
    margin:  0 auto;
    height: 80%;
    z-index: 1;
    position: absolute;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.libRightTopPlacer h2{
    font-size: 1.8rem;
}
.libRightTopPlacer p{
    font-size: 1rem;
    width: 80%;
    color: rgb(202, 202, 202);
}
.libSearchWrap{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: aliceblue;
    width: 100%;
    border-radius: 50px;
    height: 50px;
}
.libSearchInput{
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.libSearchInput .seachIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 1rem;
    align-items: center;
}
.libSearchInput input{
    width:calc(100% - 50px);
    background: none;
    height: 100%;
    font-family: kanit;
    border: none;
    font-size: 1rem;
    color: var(--text-color);

}
.libSearchBtn{
    width: 15%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5px;
}
.libSearchBtn p{
    padding: 0 10px;
    background: var(--text-color);
    /* background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--sec-color),var(--sec-color)); */

    height: 45px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 40px;

}
.libRightBottom{
    position: relative;
    height: 65%;
    overflow: hidden;
    width: 100%;
    
}
.libRightBottomWrap{
    height: 90%;
    left: 50%;
    top: 50%;
    overflow-x: hidden;
    overflow-y:auto ;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    width: 95%;
    overflow-x: hidden;
    position: absolute;
}
.sampleTopic{
    height: fit-content;
    padding: 15px;
    background:rgb(237, 242, 248);
    margin-bottom: 10px;
    
    border-radius: 10px;
}
.sampPleTopicWrapper{
    width: 100%;
    height: fit-content;
}
.smpTopicTop{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.smpTopicTopLeft{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 90%;
}
.smpTopicTopLeftIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    color: var(--ter2-color);
    background: rgba(231, 75, 205, 0.144);
}
.smpTopicTopLeftTopicName{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.smpTopicTopLeftTopicName h4{
    font-size: 1.3rem;
    color: var(--text-color);
}
.smpTopicTopRight{
 width: 10%;
 height: 100%;
 display: flex;
 justify-content: end;
 align-items: center;
}

.smpTopicTopRightIcon{
    border-radius: 7px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 125, 203);
    background: rgba(43, 230, 255, 0.207);
}
.smpTopicMid{
    height: fit-content;
    width: 90%;
    color: rgb(49, 49, 49);
    font-size: .9rem;
}
.smpTopicBtm{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: grey;

    align-items: center;
}
.smpTopicBtm button{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background: var(--sec-color);
    color: var(--text-color);
    color: aliceblue;
    font-family: kanit;
    border-radius: 20px;
}
.smpTopicBtm p span{
    color: rgb(0, 122, 179);
}
.smpTopicBtm p{
    font-size: .9rem;

}
#checkStatus{
    width: 100vw;
    display: flex;
    background: rgb(255, 255, 255);
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.checkStatusPlacer{
    width: 25vw;
    
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: fit-content;
    display: flex;
    justify-items: center;
    overflow: hidden;
    transition: .5s ease;
    align-items: center;
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--sec-color));

}
.checkStatusWrap{
    width: 100%;
    height: 100%;
    margin:0 auto;
}
.checkStTop{
    height: 30%;
    padding: 20px 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
}
.checkStBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70%;
    height: fit-content;
    background: aliceblue;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}
.checkStTop img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.checkStTop h4{
    margin: 6px 0;
    font-size: 1.2rem;
    color: aliceblue;
}
.checkStTop p{
    font-size: .9rem;
}
.ckBtmWrap{
    width: 90%;
    height: auto;
    overflow: hidden;
}
.stcashtoPay{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.stcashtoPay h4{
  font-size: 1.2rem;
  color: var(--text-color);
}
.stcashBtmSum{
    width: 100%;
    height: fit-content;
    
    margin-bottom: 20px;
    
}
.stcashBtmSumP{
    height:35px;
    width: 100%;
    justify-content: center;
    display: flex;
    color: var(--text-color);
    justify-content: start;
    align-items: center;
}
.statusBox{
    display: flex;
    height: 35px;
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}
.methodBoxDet{
    width: 28px;
    height: 28px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(49, 207, 102, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 117, 59);
    font-size: 15px;
}
.statusBox p{
    font-size: .9rem;
}
.statusBoxMethod{
    background: rgba(0, 0, 0, 0.068);
    height:70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.statusBoxMethodWrap{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: start;
    align-items: center;
}
.methodBoxImg{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background: aliceblue;
    display: flex;

    justify-content: center;
    align-items: center;

}
.methodBoxImg img{
    width: 32px;
}
.methodBoxPayDet{
    font-size: .8rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.stcashBtns button{
    height: 50px;
    width: 100%;
    border: none;
    background: var(--text-color);
    font-family: kanit;
    cursor: pointer;
    transition: .4s ease;
    
    border-radius: 40px;
    color: aliceblue;
}
.ckBtmWrap button:hover{
    transform: scale(.95);
}
.cllpPay{
    /* transform: scale(.001); */
    /* background: yellow; */
    display: none;
    flex-direction: column;
}
.stcashBtns{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnfPayLoader{
 display: none;
}

#checkoutPayFeeLoader{
    display: none;
}
.checkoutPayFeeBtnWrap{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#makingResult{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    background: rgb(255, 255, 255);
    align-items: center;flex-direction: column;
}
#makingResult p{
    margin: 20px;
    color: var(--text-color);
}

#Result{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    overflow: hidden;
    background:white;
    

}

.resultWrapper{
    width: 30vw;
    border-radius: 20px;
    height: 85vh;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--sec-color));

}
.resultTop{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.resultTop h4{
    color: aliceblue;
    font-size: 1.4rem;
}




#progress-bar--container {
    display: flex;
    justify-content: center;
  }
  
  #progress-bar--container svg {
    width: 150px;
  }
  
  #progress--circle {
    stroke-dasharray: 100;
    stroke-dashoffset: 10;
    stroke: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--ter-color),var(--sec-color));;
    stroke-linecap: round;
    stroke: var(--ter2-color);
  }
  
  #progress--text {
    font-family: var(--primary-font);
    fill:seashell;
    font-weight: 750;
    font-size: 15.5px;
    color: aliceblue;
    transform-origin: center;
    transform: rotate(90deg);
  }
  
  svg {
    transform: rotate(-90deg);
  }
  

  


.resultBottom{
    height: 50%;
    width: 100%;
    background: var(--text-color);
    background: aliceblue;
    border-radius: 20px;
}
.resultBtmPlacer{
    width: 90%;
    margin:  0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.miniSeparator{
    width: 50px;
    height: 2px ;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 10px;
}
.resultDet{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.resultBtn{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resultBtn button{
    width: 45%;
    height: 45px;
    border-radius: 40px;
    border: none;
    font-family: kanit;
    background: var(--text-color);
    color: aliceblue;
}
#miniProfileBtn{
    display: none;
}
#Affiliated{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
            background-image: linear-gradient(109deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(205deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(153deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(284deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(125deg, var(--text-color),var(--text-color));

}
.affPlacer{
    width: 50vw;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
    background: aliceblue;
}
.affLogo{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.affLogo img{
    width: 140px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.158));
}
.affCont{
    height: 30vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: kanit;
    color: var(--text-color);
}
.affInputWrap{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    background:aliceblue;
    border-radius: 50px;
    border: 1px solid var(--sec-color);
    overflow: hidden;
}
.affCont p{
    height: 5vh;
}
.affBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.affBtns button{
  width: 49%;
  height: 45px;

  border: none;
  font-family: Kanit;
  background: var(--sec-color);

  color: aliceblue;
  border-radius: 40px;
  cursor: pointer;
}
.affInBtn{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.affInBtn button{
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background: var(--ter2-color);
    font-family: kanit;
    color: aliceblue;
    
    height: 40px;
}

.affInputWrap input{
    height: 100% ;
    width:calc(100% - 50px);
    background: none;
    border: none;
}
.emptyCompeletedTest{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptyCompeletedTest p{
    font-size: .8rem;
    width: 60%;
    text-align: center;
    margin: 10px auto;
}
.emptyCompeletedTest i {
    color: var(--sec-color);
    font-size: 50px;
}
.noTopicLib{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.noTopicLib i{
  font-size: 40px;
  color: var(--sec-color);
  margin: 10px;
}
.noTopicLib p{
    font-size: .8rem;
}
.Step{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10vh 0;
    background: var(--text-color);
}
.stepPlacer{
  width: 80%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepTop{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 50%;
    margin-bottom: 10px;


}
.stepBtm{
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}
.stepTop p{
    margin-bottom: 20px ;
    color: var(--ter3-color);
}
.stepTop h2{
    color: rgb(215, 224, 232);
    font-size: 40px;

    font-family: kanitBold;
}
.stepCards{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr); */
    height: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.stepCard{
    border-radius: 10px;
    display: flex;
    width: 32%;
    height: 100%;
    border-radius: 8px;
    background: rgba(100, 100, 100, 0.374);
    background: #022c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.stepCardWrap{
    width: 85%;
    height: 80%;
    position: relative;
}
.stepCardNumber{
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 5%;
    position: absolute;


}
.stepCardNumber h2{
    color: rgb(162, 167, 173);
}
.stepCardNumber h2{
  font-family: kanit;
  font-size: 70px;
}
.stepCardInfo{
    height: 75%;
    width: 100%;
    background:#022c3c;
    box-shadow: -10px 0 40px 20px #022c3c;
    position: absolute;
    top: 25%;
    
}
.stepCardInfo{
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;

}
.stepCardInfo h3{
  font-size: 20px;
  color: rgba(240, 248, 255, 0.783);
  margin: 10px 0;
}
.stepCardInfo p{
  font-size: 13px;
  color: rgba(240, 248, 255, 0.5);

}

#Mission{
    width: 100vw;
    height: fit-content;
    padding: 10vh 0;
}